### Forecast Error
Forecast error is the difference between the actual or real VS the predicted or forecast value of a time series

- Forecast error are important as they help to identify whether a certain forecast is usable or not
- If forecast error is too high then there is no point in using that forecast
- Since there are different forecasting models, so the model with least forecast error should be the one to be picked

#### Mean Forecast Error (Forecast Bias))

Suppose $y_{1}$, $y_{2}$,$y_{3}$,... $y_{n}$ represent a time series. <br>
$\hat{y}_{i}$ represents the $i^{th}$ forecasted value, where i <= n . <br>
$i^{th}$ error $e_{i}$ is then $e_{i}$ = $y_{i}$ - $\hat{y}_{i}$

It we take mean of all such errors , we get mean forecast error. <br>
MFE =$\frac1n \sum_{i=1}^n e_i$

 A mean forecast error value other than zero suggests a tendency of the model to over forecast (negative error) or under forecast (positive error).

#### Mean Absolute Error (MAE)

MAE = 1/n * $\sum_{i=1}^n |e_i|$
<br>
- We calculate mean on absolute value of error
- It tells on an average, how much our forecast are off the actual value
- Since MFE might cancel out a lot of overestimated and underestimated forecasts, hence measuring the mean absolute error or MAE makes more sense

#### Mean Absolute Percentage Error (MAPE):
- The problem with MAE is that even if you get an error value, you have nothing to compare it against. <br>
- For example, if the MAE that you get is 1.5, you cannot tell just on the basis of this number whether you have made a good forecast or not. <br>
- If the actual values are in single digits, this error of 1.5 is obviously high but if the actual values are, say in the order of thousands, an error of 1.5 indicates a good forecast. <br>
So in order to capture how the forecast is doing based upon the actual values, you evaluate mean absolute error where you take the mean absolute error (MAE) as the percentage of the actual values of y

MAPE  = $\frac{100}n \sum_{i=1}^n \frac{|e_i|}{y_i}$

#### Mean Squared Error

MSE = $\frac1n  \sum_{i=1}^n e_i^2$

We simply square the error values, sum them up and take their average. This is known as mean squared error or MSE

Squaring the forecast error values forces them to be positive; it also has the effect of putting more weight on large errors.

#### Root Mean Squared Error

RMSE = $\sqrt{\frac1n  \sum_{i=1}^n e_i^2}$

In [1]:
import numpy as np
import pandas as pd

In [2]:
#read data from file
df = pd.read_csv(r'./data/airline-traffic.csv', header=None)

#rename column headers
df.columns  =['Month', 'Passengers']

# make month column as datetime
df['Month'] = pd.to_datetime(df['Month'], format='%Y-%m')

# Change month column as index
df.set_index('Month', inplace=True)

# impute missing values by linear interpolate 
df.Passengers.interpolate(method='linear', inplace=True)

# change datatype of passengers as int
df['Passengers'] = df['Passengers'].astype('int')

In [3]:
### Split data into train , test
train =  df[0:120]
test  =  df[120:]

In [5]:
## Naive  method
y_hat_naive  = test.copy()

y_hat_naive['naive_forecast'] = train.iloc[-1][0]

y_hat_naive.head()

            Passengers  naive_forecast
Month
1959-01-01         360             337
1959-02-01         342             337
1959-03-01         406             337
1959-04-01         396             337
1959-05-01         420             337

In [17]:
error = y_hat_naive.Passengers - y_hat_naive.naive_forecast
mfe = sum(error) / len(error)
print(f"MFE: {mfe}")

abs_error = abs(y_hat_naive.Passengers - y_hat_naive.naive_forecast)
mae = sum(abs_error) / len(abs_error)
print(f"MAE: {mae}")

mape = sum(abs_error/y_hat_naive.Passengers) * 100 / len(abs_error)
print(f"MAPE: {mape}")

rmse = np.sqrt(sum(error**2) / len(error))
print(f"RMSE: {rmse}")

MFE: 115.54166666666667
MAE: 115.54166666666667
MAPE: 23.632534624153944
RMSE: 137.51045414803923

In [4]:
# Simple Average Method

y_hat_avg = test.copy()

y_hat_avg['Simple_Avg'] = np.mean(train.Passengers)

y_hat_avg.head()

            Passengers  Simple_Avg
Month
1959-01-01         360  245.891667
1959-02-01         342  245.891667
1959-03-01         406  245.891667
1959-04-01         396  245.891667
1959-05-01         420  245.891667

In [5]:
error = y_hat_avg.Passengers - y_hat_avg.Simple_Avg
mfe = sum(error) / len(error)
print(f"MFE: {mfe}")

abs_error = abs(y_hat_avg.Passengers - y_hat_avg.Simple_Avg)
mae = sum(abs_error) / len(abs_error)
print(f"MAE: {mae}")

mape = sum(abs_error/y_hat_avg.Passengers) * 100 / len(abs_error)
print(f"MAPE: {mape}")

rmse = np.sqrt(sum(error**2) / len(error))
print(f"RMSE: {rmse}")

MFE: 206.65
MAE: 206.65
MAPE: 44.27856575556158
RMSE: 219.68948714922365